
h1{
  color: Blue;
  font-weight: bold;
}
h2{
  text-align: left;
}

#top{
  font-size: 25px;
}

#middle{
  font-size: 20px;
}

#bottom{
  font-size: 20px;
}

.name{
  font-weight: bold;
  color: blue;
}

.photo{
  @media (min-width:500px){
    body{
      <img  src="photos/Me.png" width="30%">
        }
          }
  @media (max-width:499px) {
    body{
      <img  src="photos/Best.png" width="30%">
    }
  }
      }
