
h1{
  color: Blue;
  font-weight: bold;
}

h2{
  text-align: left;
}

h4{
  color: Blue;
}


#top{
  font-size: 25px;
}

#middle{
  font-size: 20px;
}

#bottom{
  font-size: 20px;
}

.name{
  font-weight: bold;
  color: blue;
}



@media (min-width:500px) {
      h3::before{
        content: "This is me again!";
      }
    }

@media (max-width:499px) {
        h3::before{
          content: "This is me!";
        }
    }
