
h1{
  color: Blue;
  font-weight: bold;
}
h2{
  text-align: left;
}

h4{
  color: blue;
}


#top{
  font-size: 25px;
}

#middle{
  font-size: 20px;
}

#bottom{
  font-size: 20px;
}

.name{
  font-weight: bold;
  color: blue;
}


  @media (max-width:499px) {
    h3::before{
      text-align: center;
      content: "This is me!";
    }
}
    @media (min-width:500px) {
      h3::before{
        text-align: center;
        content: "This is me again!";
      }
    }
